[push]
    default = current
[color]
    ui = auto
[alias]
    ss = status
    df = diff
    ph = push origin HEAD
    pl = pull --all
    fp = push --force origin HEAD
    lg = log --pretty=oneline -10
    ct = checkout
    ac = !git add . && git commit -m
    re = rebase
    me = merge --ff
    rc = !git add . && git rebase --continue
    pre = checkout @{-1}
    dl = branch -D
    dr = push origin --delete
    rh = reset HEAD~1
    ma = merge --abort
    updatevim = !sudo rm -fr ~/dotfiles/.vim && sudo cp -R ~/.vim ~/dotfiles/ && cp ~/.vimrc ~/dotfiles/
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
[include]
    path = .gitconfig.local
[commit]
    template = /Users/ivangeorgiev/.gitmessage
[user]
    name = Ivan Georgiev
    email = ivan.georgiev@tick42.com
[diff]
    tool = vimdiff
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[merge]
    ff = only
    tool = diffconflicts
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "vimdiff"]
    trustExitCode = true
[mergetool "diffconflicts"]
    cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
    trustExitCode = true
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[difftool "sourcetree"]
    cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[credential]

[hub]
    protocol = https
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
