[push]
    default = current
[color]
    ui = auto
[alias]
    ac = !git add . && git commit -m
    cn = clean -df
    cl = clone
    ct = checkout
    df = diff
    dl = branch -D
    dr = push origin --delete
    ma = merge --abort
    me = merge --ff
    lg = log --graph -10 --color \
        --pretty=format:"%x1b[35m%h%x20%x1b[0m%s%n%x1b[36m%an%x20%x1b[34m%x28%cr%x29%x1b[32m%d%n"
    lga = log --graph -10 --all --color \
        --pretty=format:"%x1b[35m%h%x20%x1b[0m%s%n%x1b[36m%an%x20%x1b[34m%x28%cr%x29%x1b[32m%d%n"
    lgf = log --graph --full-history --color \
        --pretty=format:"%x1b[35m%h%x20%x1b[0m%s%n%x1b[36m%an%x20%x1b[34m%x28%cr%x29%x1b[32m%d%n"
    lgfa = log --graph --full-history --all --color \
        --pretty=format:"%x1b[35m%h%x20%x1b[0m%s%n%x1b[36m%an%x20%x1b[34m%x28%cr%x29%x1b[32m%d%n"
    push = push -u
    pre = checkout @{-1}
    rt = reset HEAD~1
    as = submodule add
    rs = rm --cached
    ss = status
    sch = !git branch --all | grep
    sh = stash
    sha = stash apply
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
[include]
    path = .gitconfig.local
[commit]
    template = /Users/ivangeorgiev/.gitmessage
[user]
    name = Ivan Georgiev
    email = ivan.georgiev@tick42.com
[diff]
    tool = vimdiff
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = diffconflicts
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "vimdiff"]
    trustExitCode = true
[mergetool "diffconflicts"]
    cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
    trustExitCode = true
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[difftool "sourcetree"]
    cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[credential]

[hub]
    protocol = https
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
